{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Proyectos</title>
    <link rel="stylesheet" href="{% static 'CSS/CSSgeneral.css' %}">
  </head>
  <body>
    <div class="div_principal">
      <nav>
        <a href="{% url 'landing' %}" class="inicio">Inicio</a> |
        <a href="{% url 'proyecto_list' %}" class="inicio">Proyectos</a> |
        <a href="{% url 'cliente_list' %}" class="inicio">Clientes</a> |
        <a href="{% url 'empleado_list' %}" class="inicio">Empleados</a> |
        <a href="{% url 'tarea_list' %}" class="inicio">Tareas</a> |
        <a href="{% url 'admin:index' %}" class="inicio">Admin</a>
      </nav>
      <hr />

      {% block content %}{% endblock %}

      <hr />
      <footer class="mensaje_footer">
        <p>&copy; 2025 Gestión de Proyectos Grupo 6</p>
      </footer>
    </div>
  </body>
</html>
