{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Proyectos</title>
    <link rel="stylesheet" href="{% static 'CSS/general.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
  </head>
  <body>
    <div class="div_principal">
      <nav>
        <a href="{% url 'landing' %}?vengo_de=boton_arriba" class="inicio">Inicio</a> 
        <a href="{% url 'proyecto_list' %}?vengo_de=boton_arriba" class="inicio">Proyectos</a> 
        <a href="{% url 'cliente_list' %}?vengo_de=boton_arriba" class="inicio">Clientes</a> 
        <a href="{% url 'empleado_list' %}?vengo_de=boton_arriba" class="inicio">Empleados</a> 
        <a href="{% url 'tarea_list' %}?vengo_de=boton_arriba" class="inicio">Tareas</a> 
        <a href="{% url 'admin:index' %}?vengo_de=boton_arriba" class="inicio">Admin</a>
      </nav>
      <hr />
      <div class="bloque_centrado">{% block content %} {% endblock %}</div>
      <hr />
   <footer class="mensaje_footer">
  <div class="footer_content">
    <img
      src="{% static 'images/logo.png' %}"
      alt="Logo de Deustotil Tech S.L."
      class="footer_logo"
    />
    <p class="footer_text">&copy; 2025 Deustotil Tech S.L. - Todos los derechos reservados.</p>
    <p class="footer_slogan">"Facil, rapido, eficiente"</p>
  </div>
    </footer>
    </div>
  </body>
</html>
