{% extends "base.html" %}
{% block content %}
<h1>Empleados</h1>
<a href="{% url 'empleado_create' %}" class="btn btn-success mb-3">Nuevo Empleado</a>
<ul class="list-group">
  {% for empleado in empleados %}
  <li class="list-group-item">
    <strong>{{ empleado.nombre }} {{ empleado.apellidos }}</strong><br>
    Email: {{ empleado.email }} | Teléfono: {{ empleado.telefono }}<br>
    <a href="{% url 'empleado_detail' empleado.pk %}" class="btn btn-sm btn-primary">Ver</a>
    <a href="{% url 'empleado_update' empleado.pk %}" class="btn btn-sm btn-warning">Editar</a>
    <a href="{% url 'empleado_delete' empleado.pk %}" class="btn btn-sm btn-danger">Borrar</a>
  </li>
  {% empty %}
  <li class="list-group-item">No hay empleados disponibles.</li>
  {% endfor %}
</ul>
{% endblock %}
