{% extends "base.html" %} {% block content %}
<h1>Detalle del Empleado</h1>

<ul class="lista_general">
  <li class="lista"><strong>Nombre:</strong> {{ empleado.nombre }}</li>
  <li class="lista"><strong>Apellidos:</strong> {{ empleado.apellidos }}</li>
  <li class="lista"><strong>DNI:</strong> {{ empleado.dni }}</li>
  <li class="lista"><strong>Email:</strong> {{ empleado.email }}</li>
  <li class="lista"><strong>Teléfono:</strong> {{ empleado.telefono }}</li>
</ul>

<h3>Proyectos como responsable:</h3>
{% if proyectos_como_responsable %}
<ul>
  {% for proyecto in proyectos_como_responsable %}
  <li><a href="{% url 'proyecto_detail' proyecto.pk %}" class="referencia""> {{proyecto.nombre}} </a></li>
  {% endfor %}
</ul>
{% else %}
<p>No está asignado como responsable en ningún proyecto.</p>
{% endif %}

<h3>Tareas asignadas:</h3>
<ul>
  {% for tarea in empleado.tarea_set.all %}
    <li>
      <a href="{% url 'tarea_detail' tarea.pk %}" class="referencia">{{ tarea.nombre }}</a>
    </li>
</ul>
{% empty %}
<p>No tiene tareas asignadas.</p>
{% endfor %}

<div class="botones_centrados">
  <a href="{% url 'empleado_update' empleado.pk %}" class="boton_editar"
    >Editar</a
  >
  <a href="{% url 'empleado_delete' empleado.pk %}" class="boton_eliminar"
    >Eliminar</a>
  {% if volver %}
  <a href="{{ volver }}" class="boton_cancelar"
    >Volver</a>
  {% endif %}
  {% if origen %}
  <a href="{{ origen }}" class="boton_cancelar"
    >Volver al listado</a
  >
  {% else %}
  <a href="{% url 'empleado_list' %}" class="boton_cancelar"
    >Volver al listado</a  
  >
  {% endif %}
</div>
{% endblock %}
