{% extends "base.html" %}
{% block content %}
<h1>Detalle del Empleado</h1>
<ul class="lista_general">
  <li class="lista"><strong>Nombre:</strong> {{ empleado.nombre }}</li>
  <li class="lista"><strong>Apellidos:</strong> {{ empleado.apellidos }}</li>
  <li class="lista"><strong>DNI:</strong> {{ empleado.dni }}</li>
  <li class="lista"><strong>Email:</strong> {{ empleado.email }}</li>
  <li class="lista"><strong>Teléfono:</strong> {{ empleado.telefono }}</li>
</ul>
<a href="{% url 'empleado_update' empleado.pk %}" class="boton_editar">Editar</a>
<a href="{% url 'empleado_delete' empleado.pk %}" class="boton_eliminar">Eliminar</a>
<a href="{% url 'empleado_list' %}" class="boton_cancelar">Volver al listado</a>
{% endblock %}
