{% extends "base.html" %}
{% block content %}
<h1>Detalle del Proyecto</h1>
<ul class="lista_general">
  <li class="lista"><strong>Nombre:</strong> {{ proyecto.nombre }}</li>
  <li class="lista"><strong>Descripción:</strong> {{ proyecto.descripcion }}</li>
  <li class="lista"><strong>Fecha fin:</strong> {{ proyecto.fecha_fin }}</li>
  <li class="lista"><strong>Presupuesto:</strong> {{ proyecto.presupuesto }} €</li>
</ul>
<a href="{% url 'proyecto_update' proyecto.pk %}" class="boton_editar">Editar</a>
<a href="{% url 'proyecto_delete' proyecto.pk %}" class="boton_eliminar">Eliminar</a>
<a href="{% url 'proyecto_list' %}" class="boton_cancelar">Volver al listado</a>
{% endblock %}
