{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Proyectos</h1>
<a href="{% url 'proyecto_create' %}" class="boton_crear">Nuevo Proyecto</a>
<ul class="lista_general">
  {% for proyecto in proyectos %}
  <ul class="lista" id={{proyecto.pk}}>
    <li><strong>{{ proyecto.nombre }}</strong><br /></li>
    <li id="final{{proyecto.pk}}">Descripción: {{ proyecto.descripcion }}</li>
    <li>
      <a href="{% url 'proyecto_detail' proyecto.pk %}" class="boton_ver" data-pk={{proyecto.pk}}>Ver</a>
      <a href="{% url 'proyecto_update' proyecto.pk %}" class="boton_editar">Editar</a>
      <a href="{% url 'proyecto_delete' proyecto.pk %}" class="boton_eliminar">Borrar</a>
      <a href="{% url 'proyecto_detail' proyecto.pk %}" class="boton_ver_mas">Ver en detalle</a>
    </li>
  </ul>
  {% empty %}
  <li class="lista">No hay proyectos disponibles.</li>
  {% endfor %}
</ul>

<script src="{% static 'js/añadir_proyectos.js' %}"></script>
{% endblock %}
