{% extends "base.html" %}
{% block content %}
<h1>{% if proyecto %}Editar{% else %}Nuevo{% endif %} Proyecto</h1>
<form method="post">
  {% csrf_token %}

  {{ form.nombre.label_tag }} {{ form.nombre }}
  {{ form.descripcion.label_tag }} {{ form.descripcion }}
  {{ form.fecha_ini.label_tag }} {{ form.fecha_ini }}
  {{ form.fecha_fin.label_tag }} {{ form.fecha_fin }}
  {{ form.presupuesto.label_tag }} {{ form.presupuesto }}

  <h3>Seleccionar responsables del proyecto:</h3>
  {{ form.responsables }}

  <br><br>
  <button type="submit" class="boton_guardar">Guardar</button>
  <a href="{% url 'proyecto_list' %}" class="boton_cancelar">Cancelar</a>
</form>
{% endblock %}
