{% extends "base.html" %} {% block content %}
<h1>Detalle del Proyecto</h1>
<ul class="lista_general">
  <li class="lista"><strong>Nombre:</strong> {{ proyecto.nombre }}</li>
  <li class="lista">
    <strong>Descripción:</strong> {{ proyecto.descripcion }}
  </li>
  <li class="lista"><strong>Fecha fin:</strong> {{ proyecto.fecha_fin }}</li>
  <li class="lista">
    <strong>Presupuesto:</strong> {{ proyecto.presupuesto }} €
  </li>
  <li class="lista">
    <strong>Cliente:</strong>
    <a href="{% url 'cliente_detail' proyecto.cliente.id %}">
      {{ proyecto.cliente.nombre }}
    </a>
  </li>
  <li class="lista">
    <strong>Responsables:</strong>
    {% if proyecto.responsables.all %}
    <ul>
      {% for empleado in proyecto.responsables.all %}
      <li><a href="{% url 'empleado_detail' empleado.pk %}" class="referencia"> {{empleado.nombre}} {{empleado.apelldio}}</a></li>
      {% endfor %}
    </ul>
    {% else %} No hay responsables asignados. {% endif %}
  </li>
</ul>

<div class="botones_centrados">
  <a href="{% url 'proyecto_update' proyecto.pk %}" class="boton_editar"
    >Editar</a
  >
  <a href="{% url 'proyecto_delete' proyecto.pk %}" class="boton_eliminar"
    >Eliminar</a
  >
  {% if volver %}
  <a href="{{ volver }}" class="boton_cancelar"
    >Volver</a
  >
  {% endif %}
  {% if origen %}
  <a href="{{ origen }}" class="boton_cancelar"
    >Volver al listado</a
  >
  {% else %}
  <a href="{% url 'proyecto_list' %}" class="boton_cancelar"
    >Volver al listado</a  
  >
  {% endif %}
</div>
{% endblock %}
