{% extends "base.html" %} {% block content %}
<h1>Tareas</h1>
<a href="{% url 'tarea_create' %}" class="boton_crear">Nueva Tarea</a>
<ul class="lista_general">
  {% for tarea in tareas %}
  <li class="lista">
    <strong>{{ tarea.nombre }}</strong><br />
    Proyecto: {{ tarea.proyecto }}<br />
    Empleado: {{ tarea.empleado }}<br />
    Estado: {{ tarea.estado }}<br />
    <a href="{% url 'tarea_detail' tarea.pk %}" class="boton_ver">Ver</a>
    <a href="{% url 'tarea_update' tarea.pk %}" class="boton_editar">Editar</a>
    <a href="{% url 'tarea_delete' tarea.pk %}" class="boton_eliminar"
      >Borrar</a
    >
    <br />
    {% if tarea.fecha_fin < fecha_actual %}
    <p class="boton_retrasada">TAREA RETRASADA</p>
    {% else %}
    <p class="boton_entiempo">EN TIEMPO</p>
    {% endif %}
  </li>
  {% empty %}
  <li class="lista">No hay tareas disponibles.</li>
  {% endfor %}
</ul>
{% endblock %}
