{% extends "base.html" %} {% block content %}
<h1>Detalle de la Tarea</h1>
<ul class="lista_general">
  <li class="lista"><strong>Nombre:</strong> {{ tarea.nombre }}</li>
  <li class="lista"><strong>Descripción:</strong> {{ tarea.descripcion }}</li>
  <li class="lista"><strong>Proyecto:</strong> {{ tarea.proyecto }}</li>
  <li class="lista">
    <strong>Empleado asignado:</strong> <a href="{% url 'empleado_detail' tarea.empleado.pk %}" class="referencia">
      {{tarea.empleado.nombre}} {{tarea.empleado.apellido}}</a>
  </li>
  <li class="lista"><strong>Fecha de inicio:</strong> {{ tarea.fecha_ini }}</li>
  <li class="lista"><strong>Fecha de fin:</strong> {{ tarea.fecha_fin }}</li>
  <li class="lista"><strong>Prioridad:</strong> {{ tarea.prioridad }}</li>
  <li class="lista"><strong>Estado:</strong> {{ tarea.estado }}</li>
  <li class="lista"><strong>Notas:</strong> {{ tarea.notas }}</li>
</ul>

<div class="botones_centrados">
  <a href="{% url 'tarea_update' tarea.pk %}" class="boton_editar">Editar</a>
  <a href="{% url 'tarea_delete' tarea.pk %}" class="boton_eliminar"
    >Eliminar</a
  >
  <a href="{% url 'tarea_list' %}" class="boton_cancelar">Volver al listado</a>
</div>
{% endblock %}
